// SCSS VARIABLES
@import './variables.scss';

// GENERAL
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    padding-top: 130px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: $txt-primary-color;
    background-color: $bg-dark;
}
h2{
    font-size: 1.8em;
}
ul{
    list-style: none;
}

// Scroolbar
::-webkit-scrollbar{
    height: 15px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba($red-brand, .5); 
    border-radius: 10px;
    
    &:hover{
        background: $red-brand; 
    }
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(#fff, .1); 
    border-radius: 10px;

    &:Hover{
        box-shadow: inset 0 0 5px rgba(#fff, .3);
    }
}

// UTILITIES
// Flex
.flex{
    display: flex;
}
.jc-center{
    justify-content: center;
}
.jc-between{
    justify-content: space-between;
}
.ai-center{
    align-items: center;
}
.ai-start{
    align-items: flex-start;
}

// Cursor
.pointer{
    cursor: pointer;
}