// SCSS VARIABLES
@import './variables.scss';

// GENERAL
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    padding-top: 130px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: $txt-primary-color;
    background-color: $bg-dark;
}
ul{
    list-style: none;
}

// UTILITIES
// Flex
.flex{
    display: flex;
}
.jc-center{
    justify-content: center;
}
.jc-between{
    justify-content: space-between;
}
.ai-center{
    align-items: center;
}